name: Build wheels

on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/wheels.yml
      - requirements.txt
  pull_request:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  lint:
    runs-on: ubuntu-latest
    name: init
    outputs:
      requirements: ${{ steps.requirements.outputs.exist }}
      apk: ${{ steps.apk.outputs.packages }}
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v6

      - name: Get constraints
        run: |
          wget -O constraints.txt https://raw.githubusercontent.com/home-assistant/core/dev/homeassistant/package_constraints.txt
          sed -i "/numpy/d" constraints.txt

      - name: Upload constraints.txt
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: constraints
          path: ./constraints.txt

  wheels:
    runs-on: ${{ matrix.os }}
    needs: lint
    name: Prepare musllinux for ${{ matrix.abi }} with ${{ matrix.arch }}
    strategy:
      fail-fast: false
      matrix:
        arch: ["aarch64", "amd64"]
        abi: ["cp314"]
        include:
          - arch: amd64
            os: ubuntu-latest
          - arch: aarch64
            os: ubuntu-24.04-arm
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v6

      - name: Download constraints.txt
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: constraints

      - name: Pull-Request test
        id: test
        shell: bash
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            echo "is_test=True" >> $GITHUB_OUTPUT
          else
            echo "is_test=False" >> $GITHUB_OUTPUT
          fi

      - name: Write env-file
        shell: bash
        run: |
          touch .env_file

      - name: Build wheels
        uses: home-assistant/wheels@e5742a69d69f0e274e2689c998900c7d19652c21 # 2025.12.0
        with:
          abi: ${{ matrix.abi }}
          tag: musllinux_1_2
          arch: ${{ matrix.arch }}
          wheels-key: ${{ secrets.WHEELS_KEY }}
          env-file: True
          single: True
          test: ${{ steps.test.outputs.is_test }}
          constraints: "constraints.txt"
          requirements: "requirements.txt"
          apk: "libffi-dev;geos-dev;opus-dev;libvpx-dev;ffmpeg-dev;libsrtp-dev;libressl-dev;ninja"
